---
import BaseLayout from "@/layouts/BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<style is:global>
	@media (min-width: 48rem) {
		.post {
			max-width: 38rem;
		}
		.content-container {
			padding-top: 4rem;
			padding-bottom: 4rem;
			padding-top: 4rem;
			max-width: 44rem;
			margin-left: 6rem;
			margin-right: 2rem;
		}
	}
	@media (min-width: 72rem) {
		.post {
			max-width: 48rem;
		}
		.content-container {
			margin-left: 12rem;
			margin-right: 4rem;
		}
	}

	.content-container {
		color: #bbb;
	}
	.post {
		margin: auto;
		line-height: 1.5rem;
		padding: 1.8rem;
		padding-top: 0;
		margin-bottom: 0.7rem;
	}
	.post-header {
		margin-bottom: 1.5rem;
		transform-origin: top;
		transform: skewY(-2deg) translate(-1rem, -0.4rem);
		max-width: 100%;
	}
	.post-title {
		color: #ddd;
		text-decoration: underline purple 0.3rem;
		text-underline-offset: 0.4rem;
		font-weight: 1000;
		margin-bottom: 0.5rem;
		transform: skewY(0);
		font-style: italic;
	}
	.post-meta {
		font-size: 0.9rem;
		font-style: italic;
	}
	a {
		color: inherit;
	}
	p {
		text-align: justify;
		margin-top: 0;
		margin-bottom: 1rem;
	}
	h1 > a,
	h2 > a,
	h3 > a,
	h4 > a,
	h5 > a,
	h6 > a {
		text-decoration: none;
	}
	.post h1 {
		font-size: 2rem;
		margin-top: 0;
	}
	.post h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #ddd;
		font-weight: 700;
		text-rendering: geometricPrecision;
		font-style: italic;
		text-decoration-line: underline;
		text-decoration-color: purple;
		text-underline-offset: 4%;
		text-decoration-thickness: 0.25ex;
	}
	.post h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		transform: skewY(-2deg) translate(-1rem, 0.25rem);
		transform-origin: top;
	}
</style>
<BaseLayout>
	<div class="content-container">
		<div class="post-header">
			<span class="post-meta"
				>{frontmatter.date} ✦ #binaryanalysis ✦ #reverseengineering</span
			>
			<h1 class="post-title">{frontmatter.title}</h1>
		</div>
		<div class="post">
			<slot />
		</div>
	</div></BaseLayout
>
