---
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { PostFrontmatter } from "@/utils/types";

const posts = Object.values(
	import.meta.glob<{ url: string; frontmatter: PostFrontmatter }>("./**/*.md", {
		eager: true,
	}),
);
posts.sort(
	(a, b) =>
		new Date(b.frontmatter.date).valueOf() -
		new Date(a.frontmatter.date).valueOf(),
);
---

<style>
    @media (min-width: 48rem) {
        .title {
            font-size: 2.5rem;
        }

        @media (min-width: 48rem) {
            .content-container {
                padding-bottom: 2rem;
                padding-top: 4rem;
                margin-left: 2rem;
            }
        }
    }

    @media (min-width: 72rem) {
        .title {
            font-size: 3rem;
        }
        .content-container {
            margin-left: 12rem;
        }
    }

    .title {
        color: #ddd;
        text-align: center;
        text-decoration: underline purple 0.3rem;
        text-underline-offset: 0.4rem;
        font-weight: 1000;
        margin-bottom: 0.5rem;
    }
    .content-container {
        color: #bbb;
    }
    .body {
        display: flex;
        flex-direction: column;
        align-items: left;
        font-size: 0.9rem;
        font-weight: 450;
        padding: 1.8rem;
        margin-bottom: 0.7rem;
    }
    a {
        color: #ddd;
        font-size: 0.7rem;
        text-decoration: none;
    }
    a:hover {
        color: #fff;
    }
    .body h1 {
        margin: 0;
        font-size: 1rem;
        font-style: italic;
        text-decoration: underline purple 0.1rem;
        text-underline-offset: 0.1rem;
    }
    .body p {
        margin: 0;
    }
    span {
        display: flex;
        gap: 0.35rem;
        align-items: center;
    }
    ul {
        margin: 0.15rem 0;
    }
</style>
<BaseLayout
    ><div class="content-container">
        <h1 class="title">posts</h1><div class="body">
            {
                posts
                    .filter(
                        ({ frontmatter }) =>
                            frontmatter.published || import.meta.env.DEV,
                    )
                    .map((post) => (
                        <ul>
                            <a href={post.url}>
                                <li>
                                    <span>
                                        <p>{post.frontmatter.date}</p> /
                                        <h1 style="">
                                            {post.frontmatter.title}
                                        </h1>
                                    </span>
                                </li>
                            </a>
                        </ul>
                    ))
            }
        </div>
    </div>
</BaseLayout>
