---
const { skill } = Astro.props;
---

<style>
    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 8rem;
        margin-bottom: 0.55rem;
        background-color: #1b1226;
        border: 1px solid rgba(79, 209, 255, 0.15);
        border-radius: 2px;
    }
    .skill {
        color: #ddd;
        margin: 0;
        margin-left: 0.3rem;
        font-size: 0.8rem;
        font-weight: 1000;
        text-decoration: underline #4fd1ff 0.1rem;
        text-underline-offset: 0.15rem;
    }

    @media (min-width: 48rem) {
        .skill {
            padding: 0.55rem;
            padding-left: 0.25rem;
            font-size: 0.95rem;
            width: 9rem;
            text-decoration: underline #4fd1ff 0.2rem;
            text-underline-offset: 0.25rem;
        }
    }
    @media (min-width: 72rem) {
        .skill {
            padding: 0.8rem;

            font-size: 1.1rem;
        }
    }
</style>

<div class="card">
    <slot name="logo" />
    <h1 class="skill">{skill}</h1>
</div>
