---
const { skill } = Astro.props;
---

<style>
    @media (min-width: 48rem) {
        .card {
            padding: 0.55rem;
        }
        .skill {
            font-size: 1.15rem;
        }
    }
    @media (min-width: 72rem) {
        .card {
            padding: 0.8rem;
        }
        .skill {
            font-size: 1.3rem;
        }
    }
    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        width: 11rem;
        margin-bottom: 0.55rem;
        background-color: #1b1226;
        border: 1px solid rgba(79, 209, 255, 0.15);
        border-radius: 2px;
    }
    .skill {
        color: #ddd;
        margin: 0;
        font-weight: 1000;
        text-decoration: underline #4fd1ff 0.15rem;
        text-underline-offset: 0.25rem;
    }
</style>

<div class="card">
    <slot name="logo" />
    <h1 class="skill">{skill}</h1>
</div>
