---
import Experience from "@/sections/experience/Experience.astro";
import Skills from "@/sections/skills/Skills.astro";
---

<style>
    @media (min-width: 48rem) {
        .title {
            font-size: 2.5rem;
        }
        .body {
            font-size: 1rem;
        }
        .content-container {
            padding-bottom: 2rem;
            padding-top: 4rem;
        }
    }

    @media (min-width: 72rem) {
        .title {
            font-size: 3rem;
        }
        .body {
            font-size: 1.15rem;
        }
    }

    .title {
        color: #ddd;
        text-decoration: underline #682f8e 0.3rem;
        text-underline-offset: 0.4rem;
        font-weight: 1000;
        margin-bottom: 0.5rem;
    }
    .body {
        line-height:1.6rem;
        padding: 1.8rem;
        max-width: 38rem;
        margin-bottom: 0.7rem;
    }
    .body h2 {
        color: #ddd;
        text-decoration: underline #682f8e 0.3rem;
        text-underline-offset: 0.3rem;
        font-size: 3rem;
        text-align: center;
    }
    .content-container {
        color: #bbb;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .body a {
        color: #ddd;
        text-decoration: underline #682f8e 0.15rem;
        text-underline-offset: 0.2rem;
    }
    .body a:hover {
        color: #fff;
    }
</style>

<div class="content-container">
    <h1 class="title">about me</h1>
    <div class="body">
        <p>I'm Yonathan Gashu.</p>

        <p>I work on binary exploitation and reverse engineering.
            Most of my time is spent in disassemblers, debuggers, and reading way too much assembly.
            I've done exploit development work at the Department of Defense and I'm currently researching binary similarity with the <a href="https://sites.gatech.edu/capcpsec/">Cyber-Physical Security Lab</a> at Georgia Tech.</p>

        <p> When I'm not breaking binaries, I love playing bass, skateboarding, snowboarding, and spending time with my cat Joey.</p>
       </div>
    <Experience />
    <Skills />
</div>
