---
import Experience from "@/sections/experience/Experience.astro";
---

<style>
    @media (min-width: 48rem) {
        .content-container {
            padding-bottom: 4rem;
            padding-top: 4rem;
        }
        .title {
            font-size: 2.5rem;
        }
        .body {
            font-size: 1rem;
        }
    }

    @media (min-width: 72rem) {
        .title {
            font-size: 3rem;
        }
        .body {
            font-size: 1.15rem;
        }
    }

    .content-container {
        color: #9a9a9a;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
        color: #ddd;
        text-decoration: underline purple 0.3rem;
        text-underline-offset: 0.4rem;
        font-weight: 1000;
        margin-bottom: 0.5rem;
    }
    .body {
        padding: 1.8rem;
        padding-bottom: 0;
        max-width: 38rem;
    }
    .body h2 {
        color: #ddd;
        text-decoration: underline purple 0.3rem;
        text-underline-offset: 0.3rem;
        font-size: 3rem;
        text-align: center;
    }
</style>
<div class="content-container">
    <h1 class="title">about me</h1>
    <div class="body">
        <p>I'm Yonathan Gashu</p><p>
            i like computers and cats and games and music and drawing and
            snowboaridn gand skateboaridng and i like to play bass and guitar
            too!
        </p>
        <p>
            i like computers and cats and games and music and drawing and
            snowboaridn gand skateboaridng and i like to play bass and guitar
            too! i like computers and cats and games and music and drawing and
            snowboaridn gand skateboaridng and i like to play bass and guitar
            too! i like computers and cats and games and music and drawing and
        </p>
    </div>
    <Experience />
</div>
