---
import Skills from "@/sections/skills/Skills.astro";
import Experience from "@/sections/experience/Experience.astro";
---

<style>
    @media (min-width: 48rem) {
        .title {
            font-size: 2.5rem;
        }
        .body {
            font-size: 1rem;
        }
        @media (min-width: 48rem) {
            .content-container {
                padding-bottom: 2rem;
                padding-top: 4rem;
            }
        }
    }

    @media (min-width: 72rem) {
        .title {
            font-size: 3rem;
        }
        .body {
            font-size: 1.15rem;
        }
    }

    .title {
        color: #ddd;
        text-decoration: underline purple 0.3rem;
        text-underline-offset: 0.4rem;
        font-weight: 1000;
        margin-bottom: 0.5rem;
    }
    .body {
        padding: 1.8rem;
        max-width: 38rem;
        margin-bottom: 0.7rem;
    }
    .body h2 {
        color: #ddd;
        text-decoration: underline purple 0.3rem;
        text-underline-offset: 0.3rem;
        font-size: 3rem;
        text-align: center;
    }
    .content-container {
        color: #bbb;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<div class="content-container">
    <h1 class="title">about me</h1>
    <div class="body">
        <p>I'm Yonathan Gashu</p><p>
            I focus on low-level systems, reverse engineering, and security
            research, with experience in binary analysis and exploit
            development.
        </p>
        <p>
            i like computers and cats and games and music and drawing and
            snowboaridn gand skateboaridng and i like to play bass and guitar
            too! i like computers and cats and games and music and drawing and
            snowboaridn gand skateboaridng and i like to play bass and guitar
            too! i like computers and cats and games and music and drawing and
        </p>
    </div>
    <Experience />
    <Skills />
</div>
