---
import CLogo from "@/assets/c.svg";
import GhidraLogo from "@/assets/ghidra.svg";
import JavaLogo from "@/assets/java.svg";
import LinuxLogo from "@/assets/linux.svg";
import RustLogo from "@/assets/rust.svg";
import SkillCard from "@/components/skillcard/SkillCard.astro";
---

<style>
    .logo {
        background-color: rgba(140, 82, 255, 0.12);
        min-width: 2.5rem;
        height: 100%;
        padding: 0.25rem;
        border-radius: 0;
    }

    @media (min-width: 48rem) {
        .title {
            font-size: 2.5rem;
        }
        .logo {
            border-radius: 3px;
        }
    }

    @media (min-width: 72rem) {
        .title {
            font-size: 3rem;
        }
    }
    .skills-container {
        color: #9a9a9a;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.8rem;
        padding: 2rem;
    }
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ddd;
        text-decoration: underline #682f8e 0.3rem;
        text-underline-offset: 0.4rem;
        font-weight: 1000;
        margin-top: 4rem;
        margin-bottom: 0.5rem;
    }
</style>

<h1 class="title">skills</h1>
<div class="skills-container">
    <SkillCard skill="Rust">
        <RustLogo
            class="logo"
            slot="logo"
            width={36}
            height="auto"
        /></SkillCard
    >
    <SkillCard skill="C">
        <CLogo class="logo" slot="logo" width={36} height="auto" /></SkillCard
    >
    <SkillCard skill="Linux">
        <LinuxLogo
            class="logo"
            slot="logo"
            width={36}
            height="auto"
        /></SkillCard
    >
    <SkillCard skill="Ghidra">
        <GhidraLogo
            class="logo"
            slot="logo"
            width={36}
            height="auto"
        /></SkillCard
    >
    <SkillCard skill="Java">
        <JavaLogo class="logo" slot="logo" width={36} height={36} /></SkillCard
    >
</div>
